{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1 style="color:green" >§ERVICE</h1>
  <p>🚘 {% trans "Car service for your needs" %} 🚘 </p>
  <p>{% trans "Currently" %}:</p>
  <ul>
    <li><strong>{% trans "Number of services we perform" %}:</strong> {{ paslaugu_kiekis }}</li>
    <li><strong>{% trans "Number of registered cars" %}:</strong> {{ automobiliu_kiekis }}</li>
    <li><strong>{% trans "Number of complete orders" %}:</strong> {{ atliktu_uzsakymu_kiekis }}</li>
<!--    <li><strong>Atliekamu paslaugu skaicius:</strong> {{ paslaugu_kiekis }}</li>-->
<!--    <li><strong>Uzsiregistravusiu automobiliu skaicius:</strong> {{ automobiliu_kiekis }}</li>-->
<!--    <li><strong>Atliktu uzsakymu skaicius:</strong> {{ atliktu_uzsakymu_kiekis }}</li>-->
  </ul>
<hr>
<p>{% trans "Page visits" %}: {{ num_visits }}</p>
<!--<p>Čia jūs lankotes {{ num_visits }}-ą kartą.</p>-->
{% endblock %}
