{% extends "base.html" %}

{% block content %}
<hr>

<h4>{{ uzsakymas }}</h4>
<hr>
<p><strong>Automobilio ID: </strong> <a href="{% url 'automobilis' uzsakymas.car_id %}">{{ uzsakymas.car_id }}</a></p>
<hr>
<p class="{% if uzsakymas.status == 'a' %}text-success{% elif uzsakymas.status == 'd' %}text-danger{% else %}text-warning{% endif %}">
{{ uzsakymas.get_status_display}}
</p>
{% if uzsakymas.status == 'a' %}
{% endif %}
<p><strong>Uzsakytos paslaugos:</strong><br></p>
    {% for a in uzsakymas.uzsakymoeilute_set.all %}
    <p>{{ a.service_id.name }} {{ a.service_id.price }} €</p>
{% endfor %}

<br>
  <h4>Atsiliepimai:</h4>
  {% if uzsakymas.uzsakymasreview_set.all %}
    {% for review in uzsakymas.uzsakymasreview_set.all %}
      <hr>
      <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created}}</em>
      <p>{{ review.content }}</p>
    {% endfor %}
  {% else %}
    <p>Uzsakymas neturi atsiliepimu</p>
  {% endif %}

{% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite atsiliepimą:</h4>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.content }}</br>
      <input type="submit" value="Išsaugoti">
    </form>
  </div>
{% endif %}

{% endblock %}
