{% extends "base.html" %}

{% block content %}
<hr>

<h4>{{ uzsakymas }}</h4>
<hr>
<p><strong>Automobilio ID: </strong> <a href="{% url 'automobilis' uzsakymas.car_id %}">{{ uzsakymas.car_id }}</a></p>
<hr>
<p class="{% if uzsakymas.status == 'a' %}text-success{% elif uzsakymas.status == 'd' %}text-danger{% else %}text-warning{% endif %}">
{{ uzsakymas.get_status_display}}
</p>
{% if uzsakymas.status == 'a' %}
{% endif %}
<p><strong>Uzsakytos paslaugos:</strong><br></p>
    {% for a in uzsakymas.uzsakymoeilute_set.all %}
    <p>{{ a.service_id.name }} {{ a.service_id.price }} €</p>
{% endfor %}
{% endblock %}
